.hero-section {
  background-image: linear-gradient(
      102deg,
      rgba(75, 88, 68, 0.4962359943977591) 0%,
      rgba(222, 227, 230, 0.35898109243697474) 98%,
      rgba(220, 225, 228, 0.4962359943977591) 100%
    ),
    url("../../images/Hero/hero.jpg");
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
